
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
// Variables
// @import 'variables';

//translates
@import 'translate';

//Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.icon-sm {
  width: 18px;
  height: 18px;
  vertical-align: text-top;
}

.icon-md {
  width: 24px;
  height: 24px;
}

.icon-lg {
  width: 34px;
  height: 34px;
}

.icon-xl {
  width: 88px;
  height: 88px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.feather {
  width: 18px;
  height: 18px;
  // stroke-width: 5;
  vertical-align: text-bottom;
}

.feather-md {
  width: 24px !important;
  height: 24px !important;
  // stroke-width: 5;
  vertical-align: text-bottom;
}